body { 
	display: flex;
	margin: 0; 
	padding: 0; 
}
#map { 
	position: absolute; 
	top: 50px; 
	bottom: 0; 
	width: 100%;
	z-index: -1;
}
.navbar {
	height: 50px;
	width: 100%
}
.nav__icon--img {
	height: 30px;
}
.btn-group {
	margin-left: 10px;
}
#group__button--remove {
	margin-left: 2px;
}
.bookmarks__wrapper {
	display: flex;
}
.btn__wrapper button {
	width: 25px;
}
#select {
	width: 200px;
}